@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  color-scheme: dark;
  font-family: "Inter", sans-serif;
}

html,
body,
#__next {
  @apply h-full w-full bg-neutral-900 text-neutral-100;
}

.rt-TableCell {
  box-shadow: inset 0 -1px #262347 !important;
}
